$colorNaranja: #a35200;
$colorHeader: #fa942ec5;
$colorAzul: #396dbb;
$colorNegro: #000;
$colorBlanco: #fff;
$colorBlanco09: rgba(255, 255, 255, 0.925);
$coloreBlanco08: rgba(255, 255, 255, 0.856);
